@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'Montserrat';

	/* top left corner text */
	--corner-text: 'Midnight';

/* change fonts (edit the variables above, not this part) */
:root {
	--font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* top corner title */
[class^='wordmarkWindows'] {
	padding: 4px var(--spacing);
}
[class^='wordmarkWindows'] > svg {
	display: none;
}
[class^='wordmarkWindows']::after {
	content: var(--corner-text);
	display: block;
	position: relative;
	height: 16px;
	line-height: 16px;
	font-family: var(--font);
	font-size: 13px;
	font-weight: 900;
	color: var(--text-5);
	transform: scaleX(1.2);
	margin-left: 6px;
}

/* top bar height */
[class^='typeWindows'] {
	height: calc(var(--spacing) + 12px);
	margin: 0;
}


